* {
  margin: 0;
  padding: 0;
}

.wrapper {
  padding-top: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  font-size: 4em;
  font-family: system-ui;
}

.header-caption {
  padding-top: 13px;
  font-family: system-ui;
  font-size: 1.8em;
  font-style: italic;

}

.main-image {
  padding-top: 3px;
}

.features {
  padding-top: 13px;
  font-family: system-ui;
  font-size: 1.4em;
}

.get-your-own {
  padding-top: 23px;
  font-family: system-ui;
  font-size: 2.4em;
}

.footer {
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: system-ui;
  font-size: 0.8em;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
  color: #ff0000;
}

ul {
  list-style: none;
  padding-left: 0px;
}

ul li:before {
  content: '✓ ';
  color: #00FF00;
}

li {
  padding-left: 0px;
}

